@model IEnumerable<DataModel.Hospital>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (ViewBag.UserObject.IsAdmin)
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @if (ViewBag.UserObject.IsAdmin)
            {
                <td>
                        <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                    </td>
            }
            
        </tr>
}
    </tbody>
</table>
